BraveSoftware/Brave-Browser
VirtualBox
Thunar
Ultralytics
alacritty
bashtop
dconf
flameshot
gtk-2.0/gtkfilechooser.ini
lazygit/state.yml
pulse
qalculate
scripts/alias.sh
speech-dispatcher
spotify
systemd/user
transmission
teamviewer
xfce4
QtProject.conf
mimeapps.list
rofi/applets
rofi/colors
rofi/images
rofi/launchers
rofi/powermenu
rofi/scripts
