MobileBackupForeverIni/*
.DS_Store
Wondershare/*
configstore/*
filezilla/*
fisherman/*
qBittorrent/*
wireshark/*
yarn/*
nvim/plugged/*
nvim/session/*
lvim/plugin/packer_compiled.lua
lvim/plugin/packer_compiled.lua