MobileBackupForeverIni/*
.DS_Store
Wondershare/*
configstore/*
filezilla/*
fisherman/*
qBittorrent/*
wireshark/*
yarn/*
nvim/plugged/*
nvim/session/*
tmux/resurrect
tmux/plugins
tmux/Session.vim
Session.vim
lazygit/*
*.bak

lvim/plugin/packer_compiled.lua
lvim/plugin/packer_compiled.lua

b2/*

nvim/plugin/packer_compiled.lua
